{% extends 'base.html' %}

{% block activePageAbout %}link-secondary{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center mb-4">About EventPass</h1>
    <p>EventPass is a leading event ticketing platform that aims to connect event organizers and attendees in a
        seamless and hassle-free manner. Our mission is to make event ticketing easy, efficient, and enjoyable for
        everyone.</p>
    <p>With EventPass, event organizers can effortlessly create and manage events, set ticket prices, track sales,
        and promote their events to a wide audience. Our user-friendly interface ensures a smooth experience
        throughout the event setup process.</p>
    <p>For event attendees, EventPass provides a convenient platform to discover a diverse range of events, book
        tickets securely, and receive timely updates and reminders. We strive to enhance the overall event
        experience by offering reliable ticketing services and excellent customer support.</p>
    <p>At EventPass, we are dedicated to revolutionizing the event ticketing industry by leveraging technology and
        providing innovative solutions. We believe in the power of events to bring people together, inspire
        creativity, and create memorable experiences.</p>
</div>

{% endblock %}