{% extends 'base.html' %}

{% block content %}
<!-- FORM -->
<div class="container">
    <div class="row justify-content-center">
            <form>
                <div class="form-group">
                    <label for="event-title">Event Title</label>
                    <input type="text" class="form-control" id="event-title" placeholder="Enter event title">
                </div>
                <br>
                <div class="form-group">
                    <label for="organizer">Organizer</label>
                    <input type="text" class="form-control" id="organizer" placeholder="Enter organizer name">
                </div>
                <br>
                <div class="form-group">
                    <label for="event-type">Type/Category</label>
                    <select class="form-control" id="event-type">
                        <option value="music">Music</option>
                        <option value="conference">Conference</option>
                        <option value="sport">Sport</option>
                        <!-- Add more options as needed -->
                    </select>
                </div>
                <br>
                <div class="card">
                    <p class="card-header">Location</p>
                    <div class="form-group">
                        <label for="location-address">Address</label>
                        <input type="text" class="form-control" id="location-address" placeholder="Enter event location address">
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="location-city">City</label>
                            <input type="text" class="form-control" id="location-city" placeholder="Enter city">
                        </div>
                        <div class="col">
                            <label for="location-pincode">Pincode</label>
                            <input type="text" class="form-control" id="location-pincode" placeholder="Enter pincode">
                        </div>
                    </div>

                  
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label for="start-date">Start Date</label>
                        <input type="date" class="form-control" id="start-date">
                    </div>
                    <div class="col">
                        <label for="start-time">Start Time</label>
                        <input type="time" class="form-control" id="start-time">
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col">
                        <label for="end-date">End Date</label>
                        <input type="date" class="form-control" id="end-date">
                    </div>
                    <div class="col">
                        <label for="end-time">End Time</label>
                        <input type="time" class="form-control" id="end-time">
                    </div>
                </div>

                <br>
                <div class="form-group">
                    <label for="image-upload">Upload Image</label>
                    <input type="file" class="form-control-file" id="image-upload">
                </div>
                <br>
                <div class="form-group">
                    <label for="event-description">Event Description</label>
                    <textarea class="form-control" id="event-description" rows="5" placeholder="Enter event description"></textarea>
                </div>
                <br>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Create Event</button>
                </div>
                
            </form>
    </div>
</div>
<!--  -->
{% endblock %}