{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>My Tickets</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Ticket ID</th>
                <th>Event Name</th>
                <th>Date & Time</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets_data %}
            <tr>
                <td><a href="/ticket?id={{ ticket.id }}">{{ ticket.id }}</a></td>
                <td>{{ ticket.event_name }}</td>
                <td>{{ ticket.dateTime }}</td>
                <td>{{ ticket.location }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}